.tit {
    padding: 10px 0 20px 100px;
    border-top: 1px solid #d5d5d5;
    display: inline-block;
    width: 70%;
    font-weight: 700;
    color: #222222;
    font-size: 1.5rem;
    margin-left: 300px;
}

.tit:hover {
    text-decoration: underline;
}

.tot {
    font-size: 3.2rem;
    display: inline-block;
    width: 100%;
    font-weight: 700;
}

.w1 {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    background: #AF8E65;
}

.w2 {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    background: #AF8E65;
    float: right;
    margin-top: 50px;
}

.one {
    color: #222222;
    font: 20px Pretendard,sans-serif;
    margin-left: 380px;
}

.one:hover {
    text-decoration: underline;
}

.sub_tit {
    color: #222222;
    font: 10px Pretendard,sans-serif;
    display: inline-block;
    margin-left: 400px;
    margin-top: -30px;
}

.txt {
    color: #222222;
    font: 15px Pretendard,sans-serif;
    margin-left: 30px;
}

.xtx {
    color: #222222;
    font: 10px Pretendard,sans-serif;
    margin-left: 400px;

}

.categ {
    color: #777777;
    font-size: 1rem;
    display: inline-block;
    float: right;
    margin-top: -70px;
    margin-right: 110px;
}

.date {
    color: #777777;
    margin-left: 12px;
    padding-left: 12px;
    font-size: 1rem;
    float: right;
    border-left: 1px solid #d5d5d5;
    margin-top: -70px;
}

.t1t {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    text-align: center;
    top: 900px;
    width:  100%;
}

.tat {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 3px solid #222222;
    width:  100%;
}

.n {
    margin-top: -230px;

}

