body {
   font-family: Verdana,Geneva,'Arial';
   margin: 0px;
   padding:  0px;
   line-height: 12px;
}
html{
   font-size: 12px;
}
h1{
  font-size: 2.2rem;
}
h2{
  font-size: 1.3rem;
  font-weight: normal;
}
blockquote{
  font-style: italic;
}
h1,h2{
    color:#cc6600;
    text-decoration: underline;
    text-decoration: none;
    border-bottom: thin dotted #888888;
}
